.navBar {
  height: 89px;
  width: 1440px;
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbarLogo {
  height: 41px;
  width: 133px;
}
.navBarList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLink {
  text-decoration: none;
}
.navParagraph {
  color: #64748b;
  margin-left: 30px;
}
.navBarLogout {
  height: 32px;
  width: 73px;
  color: #ffffff;
  background-color: #0284c7;
  border-width: 0px;
  margin-left: 30px;
  border-radius: 5px;
}
